<h1>DataAnalysis - Number of users having same symptoms</h1>

<%= link_to 'Click here to create a new analysis', controller: :users_having_same_symptoms, action: :new %>

<div>Here will be displayed a list of already executed analysis.</div>

<%= DataAnalysis::AnalysisUsersHavingSameSymptom.all %>